# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ProjectVirtualExhibitonUnika.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\ProjectUnity\Real Project\Project Virtual Exhibition Unika\ProjectVirtualExhibitonUnika\.idea\.idea.ProjectVirtualExhibitonUnika\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
